<h1> Index of Our Pizzas and Prices </h1>

<% @products.each do |product| %>

<ul>
  <li><%=link_to "#{product.name}", "/products/#{product.id}" %>
    <br>


      <%= product.description %>  <br/>
      Price: <%= product.price_in_dollars %>
  </li>
</ul>
<% end %>
